:root {
  --primary-color: #8a2be2;
  --secondary-color: #f6dffc;
  --text-color: #333;
  --background-color: #ffffff;
  --font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
}

.custom-navbar {
  color: var(--text-color);
  background-color: var(--secondary-color);
}

.container-header {
  background-color: var(--secondary-color);
  text-align: center;
}

h1 {
  color: var(--text-color);
  font-size: 90px;
  font-family: var(--font-family);
}

h2 {
  color: var(--text-color);
  font-weight: bold;
  font-size: 35px;
  font-family: var(--font-family);
  margin-bottom: 10px;
}

h3 {
  color: #595959;
  font-size: 25px;
  font-family: var(--font-family);
  margin-bottom: 10px;
}

.p-feature {
  color: var(--text-color);
  font-size: 17px;
  margin-bottom: 40px;
  margin-top: 30px;
  text-align: center;
}

.btn-branding {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-branding:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

p {
  font-size: 20px;
  color: var(--text-color);
}

.btn-yogurt {
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-yogurt:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
}

.btn {
  margin-top: 5px;
}

.yogurt,
.weather,
.dictionary {
  font-size: 45px;
  padding-top: 60px;
}

.paragraph {
  font-family: var(--font-family);
}





@media (max-width: 960px) {
  body {
    text-align: center;
  }

  .text-start {
    text-align: center !important;
  }

  .project-description,
  .container,
  .container-header {
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto 30px;
    max-width: 100%;
  }

  .btn-branding,
  .btn-yogurt {
    display: block;
    margin: 15px auto;
    width: fit-content;
  }

  h1 {
    font-size: 45px;
    text-align: center;
  }

  h2 {
    font-size: 25px;
    text-align: center;
  }

  h3 {
    font-size: 20px;
    text-align: center;
  }

  p,
  .p-feature {
    text-align: center;
  }
}

body {
    text-align: center;
  }

  .container,
  .container-header,
  .row,
  .col-md-6 {
    text-align: center;
  }


.project-description {
    padding: 0;
    text-align: center;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }

  .p-feature {
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .btn-branding {
    font-size: 14px;
    padding: 10px 15px;
  }

  .yogurt,
    .weather,
    .dictionary {
      font-size: 30px;
      padding-top: 30px;
    }
.paragraph {
    font-size: 17px;
     
  }
    


